<div style="border: 4px dotted grey; border-radius: 30px; width: 350px; margin-left: 320px; padding: 100px;">


{{ form_start(form)}}
    {{ form_widget(form) }}
    <button class="btn" style="border: 4px dotted grey; border-radius: 30px; margin-left: 50px; margin-top: 50px; color: blue;">{{ button_label|default('Save') }}</button>

{{ form_end(form) }}

</div>
