{% extends 'base.html.twig' %}

{% block title %}New Citas{% endblock %}

{% block body %}
    <h1 style="text-align:center;">Registra nueva cita</h1>

    {{ include('citas/_form.html.twig') }}

    <a href="{{ path('app_citas_index') }}">back to list</a>
{% endblock %}
